* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0px 40px;
}

.header {
  background-color: #e4e4e4;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo {
  width: 60px;
  height: 36px;
  object-fit: contain;
}

.navigation_item {
  color: #000000;
  text-decoration: none;
}

.navigation_item:not(:last-child) {
  margin-right: 8px;
}

.section {
  display: block;
  padding: 32px 0;
}

.title {
  margin-bottom: 32px;
}

.h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 32px;
}

.paragraph {
  font-size: 20px;
  line-height: 135%;
}

/* About */

.about_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.about_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}

.about_image {
  width: 335px;
  height: 170px;
  object-fit: cover;
}

.about_text {
  width: 41%;
}
.about_blockquote {
  margin: 0 0 18px;
  font-size: 20px;
  border-left: 2px solid #feba55;
  padding-left: 8px;
}
.about_description {
  font-size: 16px;
  line-height: 24px;
}

/* Services */

.services_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  font-size: 14px;
}

.services_image {
  aspect-ratio: 139/174;
  object-fit: cover;
}

.services_info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.services_name {
  text-align: left;
}
.services_price {
  text-align: right;
}

.services_description {
  margin-top: 16px;
  line-height: 22px;
}
